<ul>
    <li><a href="{{ urlFor('home') }}">Hem</a></li>
    <li><a href="{{ urlFor('article') }}">Artiklar</a></li>
    <li><a href="{{ urlFor('video') }}">Video</a></li>
    <li><a href="{{ urlFor('about') }}">Om</a></li>
</ul>